*.py[cod]
*~

# TI
*.p12
*.pem
ti/*csv
ti/*asc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject*.pyc

# client api key
client/keys.py

# virtialenv
virtenv/
