django
django-filter
djangorestframework
markdown
psycopg2
# We need to be able to import keys with a broken encoding, not supported by the main repo
# gnupg
https://github.com/Rafiot/python-gnupg/archive/dirty_encoding_ignore.zip
pillow

# perso
ipython

# client
requests

# temp
pygments

